<% extend('../../admin_layout.ejs') %>
<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-dashboard"></i>
            Dashboard</a> <a href="#">Bookings</a> <a href="#" class="current">All Bookings</a> </div>
    <h1>List All Bookings</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                            <h5>LISTING ALL BOOKINGS</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                        <th>Show Detail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(booking => { %>
                                    <tr>
                                        <td>
                                            <%if (booking.images && booking.images[0].length > 0) {%>
                                            <img src="<%= booking.images[0]%>" style="width: 200px; height: 200px;"
                                                class="img-responsive img-thumbnail" />
                                            <%}%>
                                        </td>
                                        <td><%= booking.category %></td>
                                        <td><%= booking.date %> </td>
                                        <td><%= booking.time %></td>
                                        <td><%= booking.status %></td>
                                        <td><a href="/admin/bookingDetail?id=<%= booking.id %>"
                                                class="btn btn-block btn-primary">SHOW DETAIL</a></td>

                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>