<% extend('../../admin_layout.ejs') %>
<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-dashboard"></i>
            Dashboard</a> <a href="#">Users</a> <a href="#" class="current">All Users</a> </div>
    <h1>List All Users</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                            <h5>LISTING ALL USERS</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Show Detail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(vendor => { %>
                                    <tr>
                                        <td>
                                            <%if (vendor.val().image && vendor.val().image.length > 0) {%>
                                            <img src="<%= vendor.val().image%>"
                                                style="border-radius: 50%; width: 130px;"
                                                class="img-responsive img-thumbnail" />
                                            <%} else {%>
                                            <img src="/public/img/user.jpg" style="border-radius: 50%; width: 130px;"
                                                class="img-responsive img-thumbnail" />
                                            <%}%>
    
                                        </td>
                                        <td><%= vendor.val().firstName %> <%= vendor.val().lastName %></td>
                                        <td><%= vendor.val().phone %> </td>
                                        <td><%= vendor.val().email %></td>
                                        <td><a href="/admin/vendorDetail?id=<%= vendor.val().id %>"
                                                class="btn btn-block btn-primary">SHOW DETAIL</a></td>

                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>